*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body   { 
    background-color: #f5f7fa ;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px; 
    }
.wrapper {
    background-color: #ffffff;
    display: flex;
    max-width: 100%;
    margin: 0 auto; /*center*/
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    }
.sidebar  {
    background-color: #1e2939;   /*#E0EBFE;*/
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
    }
.myfoto {
    width: 370px;
     
}
.about {
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 90px;
    padding-right: 90px;
    /*padding:110px 110px 90px 90px*/
    
}
.contact {
    
    color: #E0EBFE; /*#ffffff;*/
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    
    
    }
.contact0 {
    color: #E0EBFE; /*#ffffff;*/
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 40px;
    
    }

.contact1 {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    margin-right: 6px;
    margin-left: 40px;
    color: #E0EBFE;

}
.contact2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px
}
.to {
color: #ff6b08;
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin: 20px;
padding-left: 40px;

}
.li{
 margin-left: 55;
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 
}
.texli{
color: #ffffff;
font-size: 14px;
font-weight: 400;
line-height: 24px;


}
.tli{
font-size: 12px;
font-weight: 400;
line-height: 16px;
color: #aeaeae;


}
.botinfo{
    margin-bottom: 64px;
}
.abt12 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #aeaeae;

    }

.abt14 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
    color: #595959;

    }

.abt14B {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 24px;

}

.abt16 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.abt22 {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: black;
}

.abt16B {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 5px;
    width: 417px;
}
.abt45 {
    font-size: 45px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 24px;
    }
.tide {
    font-weight: 700;
    margin: 01px;
    padding-left: 15px;
    color: #595959;
}
.otst {
    margin-top: 55px;
}

.color {
    color: #ff6b08;
}
.txt{
    margin-left: 15px;
}